* { 
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
}

:root {
  --black: #15161A;
  --dark: #028E77;
  --mid: #20B0B8;
  --mid-light: #07D6AF;
  --light: #91FF9C;
}

body {
  font-family: obvia,sans-serif;
  font-weight: 400;
  font-style: normal;
  background: var(--black);
}

.logo {
  width: 50px;
  margin: 15px auto 15px 15px;
}

.logo, li {
  padding: 0px;
}

.nav-links {
  display: flex;
}

li, a, button {
  margin: 0px 5px;
  font-size: 16px;
  color: white;
  text-decoration: none;
  list-style: none;
}

a:hover {
  color: var(--light);
}

button {
  border: solid white 3px;
  background: var(--black);
  color: white;
  border-radius: 50px;
  padding: 3px 8px;
  margin-left: 50px;
}

nav {
  background: var(--dark);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

li {
  position: relative;
}

.deco {
  background: var(--light);
  width: 100%;
  height: 10px;
  box-shadow: 1.0px 2.6px 2.6px hsl(0deg 0% 15% / 0.15);
}

.dropdown {
  display: none;
  position: absolute;
  background: var(--mid-light);
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

.show {
  display: flex;
}

p {
  margin: 10px 10px;
  color: var(--white);
}

.asset-prices {
  position: relative;
  z-index: -1;
  display: flex;
  background: var(--dark);
}

.assets {
  display: flex;
  margin: 15px;
}

.ticker, .price {
  margin: 5px;
  font-weight: 600;
}

.side-nav {
  position: fixed;
  width: 400px;
  height: 100%;
  background: var(--mid);
  margin-top: 0px;
}

.my-assets {
  margin: 0px;
}
