* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --black: rgb(21, 22, 26);
  --dark: rgb(2, 142, 119);
  --mid: rgb(32, 176, 184);
  --mid-light: #07d6af;
  --light: rgb(145, 255, 156);
  --white: rgba(244, 246, 231, 1);
  --orange: rgb(250, 124, 8);
  --grey: rgba(132, 126, 115, 1);
}

header {
  width: 100%;
}

body {
  font-family: neusa-next-std, sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 65px 65px;
  background-color: var(--mid);
  align-items: center;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.logo {
  grid-row: span 2;
  display: flex;
}

img {
  width: 175px;
  margin: 15px auto;
}

/* Buttons  */

button {
}

.nav-button {
  color: var(--white);
  background: none;
  margin: 0px 25px;
  border: solid var(--light) 3px;
  border-radius: 8px;
  padding: 3px 7px;
  cursor: pointer;
}

.content-button {
  margin: 8px 5px;
  border: solid var(--black) 3px;
  color: var(--black);
  background: none;
  border-radius: 8px;
  padding: 3px 7px;
  cursor: pointer;
}

.content-button.active {
  background: var(--light);
  border: solid var(--light) 3px;
  color: var(--black);
  box-shadow: 0px 0px 10px 2px var(--light);
}

.nav-button.active {
  box-shadow: 0px 0px 10px 0px var(--light);
  background: var(--light);
  color: var(--black);
}

.small-button {
  width: 50%;
  border: none;
  background: var(--black);
  color: var(--white);
  margin: 5px 0px;
  padding: 4px 7px;
  border-radius: 5px;
}

.donate-button {
  padding: 5px 15px;
  border: none;
  background: var(--black);
  color: var(--white);
  margin: 5px 15px;
  border-radius: 5px;
}

.donate-button:hover::after {
  content: " 👈";
}

.add-asset-button {
  border: none;
  border-radius: 5px;
  padding: 3px 0px;
  margin: 15px 15px 15px 25px;
}

.ticker,
.amount,
.exchange {
  width: 25%;
  margin: 10px 5px 10px 5px;
  border: none;
  border-radius: 8px;
  padding-left: 5px;
}

.form-button {
  font-weight: 600;
  font-size: 1.25em;
  width: 25%;
  margin: 10px 5px 10px 5px;
  color: var(--white);
  background: var(--black);
  border-radius: 8px;
  border: none;
  padding: 0px 0px;
  cursor: pointer;
  box-shadow: 3px 3px 5px 0px rgba(37, 26, 18, 0.5);
}

.smaller-button {
  background: var(--black);
  color: var(--white);
  border: none;
  padding: 3px 7px;
  border-radius: 5px;
  margin-right: 15px;
}

.add-asset-button::placeholder {
  padding-left: 5px;
}

/* Buttons ^  */

ul {
  list-style: none;
  color: var(--white);
}

label {
  color: var(--black);
  font-size: 1rem;
}

input:focus {
  outline: none;
}

select {
  border: solid var(--mid-light) 3px;
  background: var(--white);
  border-radius: 5px;
  padding: 2px 4px;
  margin: 15px;
}

h1 {
  color: var(--white);
  font-weight: 400;
  margin: 25px auto;
}

table {
  width: 75%;
  text-align: center;
  font-size: 1rem;
  margin: 0px auto 25px auto;
  color: var(--white);
}

th {
  font-weight: 400;
  padding-bottom: 15px;
}

td {
  border-bottom: solid var(--mid-light) 3px;
  padding: 3px 15px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  margin-right: 150px;
}

.dropdown-menu > form {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.nav-inputs {
  border: solid var(--black) 3px;
  border-radius: 8px;
  margin: 5px 0px 15px 0px;
  padding: 5px;
  background: var(--white);
}

.long-field {
  padding-bottom: 50px;
}

.dropdown {
  position: relative;
}

.donate-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown-menu {
  pointer-events: none;
  display: flex;
  position: absolute;
  top: 25px;
  left: 25px;
  background: var(--light);
  border-radius: 15px;
  box-shadow: 5px 5px 10px 2px rgba(21, 22, 26, 0.3);
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 100ms, transform 100ms;
}

.dropdown.active > .nav-button + .dropdown-menu {
  opacity: 1;
  pointer-events: all;
  transform: translateY(10px);
}

.settings-dropdown > span {
  margin: 15px;
}

.price-slider {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.prices {
  display: flex;
  font-size: 1.25rem;
  overflow: wrap;
}

.assets {
  margin: 0px 15px;
  color: var(--white);
  font-weight: 400;
  font-size: 1.5em;
}

.asset-slideout {
  position: relative;
  z-index: 1;
  margin: 0px 0px 0px auto;
  border-radius: 15px 0px 0px 15px;
  height: 100%;
  background: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(220px);
  transition: transform 200ms;
  box-shadow: -2px 2px 10px 0px rgba(21, 22, 26, 0.3);
}

.asset-slideout:hover {
  transform: translateX(0px);
}

.toggler {
  position: absolute;
  bottom: calc(50% - 15px);
  left: 6px;
}

.dots-vert {
  margin: 4px 0px;
  width: 5px;
  height: 5px;
  background: var(--white);
  border-radius: 50px;
}

.prices > li {
  margin: 15px;
}

@media (max-width: 40rem) {
  .prices {
    font-size: 0.75rem;
    overflow: hidden;
  }
  .prices > li {
    margin: 5px;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100vh;
}

@media only screen and (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 70vh;
  }
}

.side-nav {
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--black);
}

.slide-down {
  position: relative;
  z-index: 3;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--mid-light);
  border-radius: 0px 0px 20px 20px;
  margin: auto;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.6);
  transform: translateY(-60px);
  transition: transform 200ms;
  padding: 25px;
}

.slide-down:hover {
  transform: translateY(0px);
}

.form-container {
  width: 100%;
}

.dotdot {
  position: absolute;
  display: flex;
  font-size: 3em;
  font-weight: 900;
  bottom: 10px;
  right: calc(50% - 18px);
}

.dots {
  margin: 0px 3px;
  width: 6px;
  height: 6px;
  background: var(--black);
  border-radius: 50px;
}

.content {
  position: relative;
  z-index: 1;
  background: var(--black);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.content-header {
  font-size: 2em;
  text-align: center;
  margin: 15px 50px;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.pie-chart-container {
  margin-top: 25px;
  width: 100%;
}

.portfolio-info {
  position: relative;
  z-index: 0;
}
.portfolio-info {
  height: 100%;
  display: flex;
  justify-content: center;
  background: var(--black);
}

.portfolio-values {
  display: flex;
  flex-direction: column;
  margin: 15px auto;
}

.portfolio-values > li {
  margin: 15px 50px;
}

#myChart {
  width: 75%;
}

.current {
  opacity: 0;
}

.current.active {
  opacity: 1;
}

.peak {
  opacity: 0;
}

.peak.active {
  opacity: 1;
}

.hourly-PL {
  opacity: 0;
}

.hourly-PL.active {
  opacity: 1;
}

.monthly-PL {
  opacity: 0;
}

.monthly-PL.active {
  opacity: 1;
}
