* { 
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
}

:root {
  --black: rgb(21, 22, 26);
  --dark: rgb(2, 142, 119);
  --mid: rgb(32, 176, 184);
  --mid-light: #07D6AF;
  --light: rgb(145, 255, 156);
  --white: rgba(244, 246, 231, 1);
  --orange: rgb(250, 124, 8);
  --grey: rgba(132, 126, 115, 1);
}

header {
  width: 100%;
}

body {
  font-family: neusa-next-std, sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  position: relative;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 65px 65px;
  background-color: var(--mid);
  align-items: center;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 1);
}

.logo {
  grid-row: span 2;
  display: flex;
}

img {
  width: 175px;
  margin: 15px auto;
}

@media (max-width: 40rem) {
  .nav-buttons {
   display: flex;
   flex-direction: column;
 } 
}

.nav-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: .8rem;
}

ul {
  list-style: none;
  color: var(--white);
}

.nav-buttons > li {
  position: relative;
}

.nav-button {
  margin: 0px 25px;
  border: solid var(--light) 3px;
  border-radius: 10px;
  padding: 3px 7px;
  cursor: pointer;
}

.nav-button.active {
  color: var(--black);
  background: var(--light);
  box-shadow: 0px 0px 10px 2px var(--light);
}

form {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

label {
  color: var(--black);
  font-size: 1rem;
}

input {
  border: solid var(--black) 3px;
  border-radius: 8px;
  margin: 5px 0px 15px 0px;
  padding: 5px;
  background: var(--white);
}

.long-field {
  padding-bottom: 50px;
}

input:focus {
  outline: none;
}

button {
  width: 50%;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background: var(--black);
  color: var(--white);
  box-shadow: 1px 1px 5px 0px rgba(1, 61, 51, .5);
}

.donate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
}

.donate-button {
  margin: 10px auto;
  width: 75%;
  background: none;
  color: var(--black);
  background: var(--mid-light);
}

.donate-button:hover::after {
  content: " 👈"
}

.dropdown {
  pointer-events: none;
  display: flex;
  position: absolute;
  top: 35px;
  left: 25px;
  background: var(--light);
  border-radius: 15px;
  box-shadow: 5px 5px 10px 2px rgba(21, 22, 26, .3);
  opacity: 0;
  transform: translateY(25px);
  transition: opacity 100ms, transform 100ms;
}

.settings-dropdown {
  align-items: center;
  flex-direction: column;
  height: 150px;
  width: 150px;
  left: -60px;
}

.profile-dropdown.active, 
.contact-dropdown.active, 
.support-dropdown.active,
.settings-dropdown.active {
  pointer-events: all;
  opacity: 1;
  transform: translate(0px);
}

.contact-dropdown.active, .support-dropdown.active {
  pointer-events: all;
  opacity: 1;
  transform: translate(0px);
}



.settings-title {
  color: var(--black);
  margin: 5px;
}

select {
  width: 50%;
  border: solid var(--mid-light) 3px;
  background: var(--white);
  border-radius: 5px;
  padding: 2px 4px;
}

.prices-slider {
  width: 100%;
}
.prices {
  display: flex;
  font-size: 1.25rem;
  overflow: hidden;
}

.prices > li {
  margin: 15px;
}

@media (max-width: 40rem) {
  .prices {
    font-size: .75rem;
    overflow: hidden;
  }
  .prices > li {
    margin: 5px;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100vh;
}

@media only screen and (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 70vh;
  }
} 

.side-nav {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  background: var(--black);
}

.content {
  position: relative;
  display: flex;
  z-index: -1;
  background: var(--black);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 1);
}

h1 {
  color: var(--white);
  font-weight: 400;
  margin: 25px auto;
}

table {
  width: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  margin: 0px auto;
  color: var(--white);
}

th {
  font-weight: 400;
  padding-bottom: 15px;
}

td {
  border-bottom: solid var(--mid-light) 3px;
  padding: 3px 15px;
}

.pie-chart-container {
  margin-top: 25px;
  width: 100%;
}

.portfolio-info {
  position: relative;
  z-index: -3;
}
.portfolio-info {
  height: 100%;
  display: flex;
  justify-content: center;
  background: var(--black);
}

.portfolio-values {
  display: flex;
  flex-direction: column;
  margin: 15px auto;
}

.portfolio-values > li {
  margin: 15px 50px;
}

#myChart {
}

